$term-offwhite : #f1f2f0;
$term-offblack : #333;
$term-red      : #F16061;
$term-yellow   : #FDD484;
$term-green    : #AFD792;
$shell-grey    : #B7B7B7;
$shell-green   : #B4E37D;
$shell-blue    : #54FDE6;

$font-body : 'Avenir Next', 'Open Sans', sans-serif;
$offwhite  : #fDfCf6;
$offblack  : #454545;
$lightgrey : #ddd;
$grey      : #888;
$darkgrey  : #333;
$yellow    : #FFDE00;
$fast      : 0.3s;
$slow      : 0.6s;
$extraslow : 1.2s;
