@import "styleguide";
@import "defaults";

$gutter-width: 128px;
$gutter-height: 200px;

$line-height: 24px;

.post {
  padding-top: $gutter-height;
  padding-bottom: $gutter-height;
  width: 100%;
  height: 100%;

  * {
    box-sizing: content-box;
  }

  .post-content,
  .post-header {
    .post-back {
      font-size: 12px;
      color: $grey;
      cursor: pointer;
      text-decoration: none;

      transition: color 0.2s;

      &:hover {
        color: $lightgrey;
      }
    }

    & > :not(.fullbleed) {
      padding-left: 20%;
      padding-right: $gutter-width;
    }
  }

  .post-header {
    margin: 24px 0;

    &.sticky {
      background: #FFFFFF;
      position: fixed;
      top: 0;
      left: 0;
      padding: 24px 0;
      margin: 0;
      width: 100%;
      z-index: 10;
    }
  }

  .post-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .post-meta {
    margin-top: 0;
    font-size: 14px;
  }

  p {
    max-width: 600px;
    margin-top: $line-height;
    margin-bottom: $line-height;
    line-height: $line-height;
  }

  .img {
    margin-top: 24px;
    margin-bottom: 24px;
    
    &.fullbleed {
      &.bottom {
        margin-bottom: -300px;
      }
    }

    img {
      width: 100%;
    }
  }

  .push {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .img-grid {
    width: 80%;
    margin: 0 auto;
    white-space: nowrap;

    .img-container {
      position: relative;
      margin-bottom: 2%;

      .img-caption {
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        height: 40%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        padding: 25px 0px;

        text-align: center;
        font-size: 1.25rem;

        background: linear-gradient(rgba($offblack, 0.8) 20px, rgba($offblack,0));
        color: $offwhite;
        transition: opacity $fast;
      }

      &:hover {
        .img-caption {
          opacity: 0.8;
        }
      }
    }

    img {
      width: 100%;
    }

    .grid-layout1 {
      &-2 {
        .img-container {
          display: inline-block;
          width: 49%;
          margin: 0 1% 2% 0;

          &.last {
            margin: 0 0 0 1%;
          }

          img {
            width: 100%;
          }

          .img-caption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 40%;
            text-decoration: none;
            cursor: pointer;
            opacity: 0;

            padding: 25px 0px;

            text-align: center;
            font-size: 1.25rem;

            background: linear-gradient(rgba($offblack, 0.8) 20px, rgba($offblack,0));
            color: $offwhite;
            transition: opacity $fast;
          }

          &:hover {
            .img-caption {
              opacity: 1;
            }
          }
        }
      }
    }

    .caption {
      white-space: normal;
    }
  }

  .pullquote {
    font-family: 'Old Standard TT', serif;
    display: block;
    font-size: 24px;
    position: relative;

    i {
      margin: 40px;
      display: block;
      position: relative;

      &:before {
        display: block;
        position: absolute;
        left: -20px;
        content: "“";
        font-family: serif;
      }

      &:after {
        display: block;
        position: absolute;
        right: 20px;
        content: "”";
        font-family: serif;
      }
    }
  }

  &.photo-post {
    .post-content {
      & > :not(.fullbleed) {
        padding-left: $gutter-width;
      }

      p {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.category-content {
  font-size: 14px;
  h1 {
    text-align: center;
  }
  padding: $gutter-height $gutter-width;
}
