@import '_styleguide';
@import '_defaults';

@mixin full-bg($url) {
  background-size: cover;
  background-position: center center;
  background-image: url($url);
}

#explanation {
  width: 100%;
  height: 100vh;

  #explanation-bg {
    @include full-bg("../i/clubold.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: background 0.75s;
  }

  #explanation-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    background: white;
    z-index: 1;
  }

  #explanation-fg {
    position: relative;
    top: 10%;
    left: 5%;
    padding: 20px 36px;
    max-width: 700px;

    .tagline {
      font-weight: bold;
      font-size: 68px;
      font-family: $font-big;
      margin-bottom: 4px;

      @media (max-width: 500px) {
        font-size: 60px;
      }
    }

    #explanation-quote {
      line-height: 1.75;
      font-style: italic;
      font-size: 17px;

      #quote-text {
        color: $darkgrey;
      }
    }

    @media (max-width: 920px) {
      top: 40%;
      transform: translateY(-50%);
      width: 90%;
    }
  }
}

.alum {
  position: relative;
  width: 100%;
  height: 50%;
  @include full-bg('../i/cory.jpg');
  transition: height ease $extraslow,
              background ease $extraslow,
              filter ease $fast,
              -webkit-filter ease $fast;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  &.liz {
    background-image: url('../i/liz.png');
  }
  &.jenn {
    background-image: url('../i/jenn.jpg');
  }

  .alum-expand {
    position: absolute;
    bottom: 20px;
    right: 20px;

    .icon {
      $icon-size: 28px;
      display: inline-block;
      height: $icon-size;
      width: $icon-size;
      margin-left: 6px;
      line-height: $icon-size;
      text-align: center;
      border-radius: 36px;
      border: 2px solid $offwhite;
      color: $offwhite;
      font-family: $font-big;
      opacity: 0;
      transition: opacity ease $fast;
    }
  }

  .alum-quicklook {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity ease $fast;

    color: $offwhite;
    font-size: 36px;
  }

  .alum-year {
    margin-left: 6px;
    font-size: 12px;
    font-family: $font-big;
    font-weight: bold;
  }

  .alum-blurb {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 42%;
    max-width: 400px;
    padding: 15px 25px;

    background: rgba(69,69,69,0.4);
    opacity: 0;
    transition: opacity ease $extraslow;

    font-size: 13px;
    line-height: 1.5;
    color: $offwhite;

    .alum-name {
      font-size: 24px;
      .alum-year {
        font-size: 10px;
      }
    }

    .alum-tiers {
      // font-family: $font-big;
      font-style: italic;
      margin-bottom: 15px;
    }

    .alum-blurb-text {
      margin-bottom: 15px;
    }

    .alum-link {
      font-family: $font-big;
      text-transform: uppercase;
      letter-spacing: 2px;
      a {
        color: inherit;
        font-weight: bold;
        text-decoration: none;
        font-size: $ui-small;
      }
    }
  }

  &:hover {
    -webkit-filter: none;
    filter: none;

    .alum-expand {
      .icon {
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
    }

    .alum-quicklook {
      opacity: 0.9;
    }
  }

  &.active {
    height: 100%;

    .alum-quicklook {
      opacity: 0;
    }

    .alum-blurb {
      opacity: 1;
    }
  }
}
